tl2-data-v1.2/xml/taxonomic-literature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Lazar Weisz (Data Conversion Laboratory) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Author">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Sections"/>
				<xs:element ref="Titles" minOccurs="0"/>
				<xs:element ref="Table" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Authors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Author" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Entries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Entry">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="sm"/>
				<xs:element ref="em"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Full_Title">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br"/>
				<xs:element ref="sm"/>
				<xs:element ref="em"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Index">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Entries"/>
			</xs:sequence>
			<xs:attribute name="Type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Indexes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Index" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br"/>
				<xs:element ref="sm"/>
				<xs:element ref="em"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Notes">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br"/>
				<xs:element ref="Table"/>
				<xs:element ref="sm"/>
				<xs:element ref="em"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Number" type="xs:string"/>
	<xs:element name="Page">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Authors"/>
			</xs:sequence>
			<xs:attribute name="Number" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Page" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Section">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br"/>
				<xs:element ref="Table"/>
				<xs:element ref="sm"/>
				<xs:element ref="em"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Section" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Short_Title">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br"/>
				<xs:element ref="sm"/>
				<xs:element ref="em"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="TL2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Volume"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Table">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Title">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Number"/>
				<xs:element ref="Full_Title"/>
				<xs:element ref="Short_Title" minOccurs="0"/>
				<xs:element ref="Notes" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Titles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Title" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Volume">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Pages"/>
				<xs:element ref="Indexes"/>
			</xs:sequence>
			<xs:attribute name="Number" type="xs:integer" use="required"/>
			<xs:attribute name="supplemental_volume" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="br">
		<xs:complexType/>
	</xs:element>
	<xs:element name="em">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="sm" type="xs:string"/>
</xs:schema>
